.portfolio_section__work_together
    width: 100%
    height: 350px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    @media screen and (min-width:768px)
        height: 425px

    h3
        text:
            transform: uppercase
            align: center
        font:
            family: $poppins
            size: 4rem
            weight: 700
        color: $white



    .portfolio_section__work_together__link
        text-decoration: none
        font:
            size: 1.8rem
            weight: 200
            family: $poppins
        border: 2px solid $white
        padding: 15px 65px
        color: $white
        margin: 3rem auto 2rem auto
        text-transform: uppercase
        letter-spacing: 2px
        cursor: pointer
        &:hover
            color: #BE3C5F


.portfolio_section__work_together.work_together__mmu
    background: $mmu-red

.portfolio_section__work_together.work_together__paris
    background: #BE3C5F

.portfolio_section__work_together.work_together__whats
    background: $whats-orange


.portfolio_section__work_together.work_together__car
    background: $car-blue

.portfolio_section__work_together.work_together__spotland
    background: $spotland-green

.portfolio_section__work_together.work_together__excel-gold
    background: $excel-gold

.portfolio_section__work_together.work_together__uxd-pres
    background: $uxd-pres-purple

.portfolio_section__work_together.work_together__stor-yellow
    background: $stor-yellow

.portfolio_section__work_together.work_together__esports-red
    background: $esports-red

.portfolio_section__work_together.work_together__js-blue
    background: $js-blue


a.portfolio_section__work_together__link.hvr-shutter-out-horizontal:before
    background: $white
