* {
	padding: 0;
	margin: 0;
	font-size: 10px;
}

#header-nav {
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 3px 3px #000;
	-webkit-transition: -webkit-transform 0.7s 0.3s ease;
	-moz-transition: -moz-transform 0.7s 0.3s ease;
	-ms-transition: -ms-transform 0.7s 0.3s ease;
	transition: transform 0.7s 0.3s ease;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0px, 0px, 0px);
	z-index: 800;
}
#header-nav.hide-nav-bar {
	-webkit-transform: translate(0, -100%);
	-moz-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	transform: translate(0, -100%);
	-webkit-backface-visibility: hidden;
}
a.menu-link {
	float: right;
	display: block;
	padding: 1em;
}
.desktop_nav {
	width: 100%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	display: flex;
	justify-content: center;
}
.js .desktop_nav {
	overflow: hidden;
	max-height: 0;
}
.desktop_nav.active {
	max-height: 55em;
	display: flex;
	justify-content: center;
}
.desktop_nav ul {
	margin: 0;
	padding: 0;
	float: left;
	padding: 0.7em 0;
}

.desktop_nav li {
	list-style-type: none;
}

.desktop_nav li a {
	display: block;
	padding: 3em;
	font-size: 1.8em;
	color: $dark-grey;
	font-family: $poppins;
	text-transform: uppercase;
	font-weight: 700;
	transition: transform 0.7s 0.3s ease;
	text-decoration: none;
	text-align: center;
}

.desktop_nav li a:hover {
	color: $red;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

.menu-link {
	height: 30px;
	width: 33px;
	cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
	margin-top: 3px;
	background: #999;
	width: 33px;
	height: 4px;
	position: absolute;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	color: #222;
}
.bar2 {
	margin-top: 13px;
}
.bar3 {
	margin-top: 23px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.brand {
	float: left;
	margin-left: 1em;
	padding: 1em;
}
.brand img {
	height: 3em;
	width: 3em;
	margin-top: 0.2em;
}

@media screen and (min-width: 770px) {
	a.menu-link {
		display: none;
	}

	.desktop_nav {
		width: auto;
		padding-left: 55rem;
		padding-top: 2rem;
	}
	.js .desktop_nav {
		max-height: none;
	}
	.desktop_nav ul {
		margin: 0 0 0 -0.25em;
		border: 0;
		float: right;
	}
	.desktop_nav li {
		display: inline-block;
		margin: 0 0.25em;
	}
	.desktop_nav li a {
		border: 0;
		padding: 0.5rem 1.5rem;
	}

	#header-nav {
		height: 80px;
	}

	.brand img {
		height: 50px;
		width: 50px;
	}
}

@media screen and (min-width: 770px) {
	.desktop_nav {
		width: auto;
		padding-left: 52rem;
		padding-top: 2rem;
	}

	.desktop_nav li a {
		font-weight: 300;
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 1440px) {
	#header-nav {
		height: 100px;
	}

	.desktop_nav {
		width: auto;
		padding-left: 78rem;
		padding-top: 2rem;
	}

	.desktop_nav li a {
		font-size: 2rem;
	}

	#header-nav.container {
		padding-top: 1rem;
	}
}

/** nav end **/
